
body {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin:0;

}
a {
    color: inherit;
    text-decoration: inherit;
}
.bg-image-container {
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#bg-image {
    background-blend-mode: darken;
    opacity: 0.4;
    transition: 1s;
    z-index: 5;
    height: 100%;
}
.circle {
    stroke:white;
    stroke-width: 2;
    fill:none;
    opacity: .5;
}
.container {
    margin:100px auto;
    width: 505px;
    height: 505px;
    position: relative;
}
#current-song {
    text-align: center;
    width:300px;
    height: 300px;
    position: absolute;
    top: 175px;
    left: 102.5px;
}
#current-song .time {
    font-size: 62px;
}
#current-song .name {
    font-weight: 600;
}
svg {
    position: absolute;
    /*left:200px;*/
    display: block;
    margin: 0 auto;
    z-index: -1;

}
svg.slide-right {
    -webkit-animation: slide-right .9s forwards;
    animation: slide-right .9s forwards;

}
svg.slide-left{
    -webkit-animation: slide-left  .65s forwards;
    animation: slide-left .65s forwards;

}
#progressLine {
    display: block;
}
#progressLine.hide {
    display:none;
    stroke-line: 0;
}
#progressCircle {
    visibility: visible;
    opacity: 1;
    transition:visibility 0s linear .5s,opacity 1s linear, stroke-line 1s linear;
}
#progressCircle.hide {
    visibility: hidden;
    opacity: 0;
    transition-delay:0s;
}
@keyframes slide-left {
    0% {transform: translateX(-225px); }
    100% { transform: translateX(0px); }
}
@keyframes slide-right {
    0% { transform: translateX(0);  }
    100% { transform: translateX(-225px); }
}
.icon{
    display: inline;
}
.audio-btn {
    text-align: center;
    position: absolute;
    font-size: 24px;
    color: white;
    width: 25px;
    height: 25px;
    z-index: 30;
    cursor: pointer;
    opacity: 1;
}
.audio-btn a:active {
    opacity: 0.5;
}
.audio-btn#play-pause {
    width: 20px;
    bottom: 23px;
    right: 245px;
}
.audio-btn#next{
    top: 240px;
    right: 27px;
}
.audio-btn#prev{
    top: 240px;
    left: 27px;
}
.audio-btn#playlist{
    top: 27px;
    right: 240px;
}
.control {
    transition:opacity 1s linear, height 1s linear, width 1s linear;
}
.control.hide {
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0s;
}
#playlist-container {
    height: 365px;
    list-style: none;
    position: absolute;
    text-align: center;
    padding: 0;
    display: block;
    left: 27px;
    margin: 50px auto;
    width: 455px;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    transition:opacity .8s linear, margin-top .8s linear;

}
#playlist-container.hide {
    visibility: hidden;
    opacity: 0;
    margin-top: 0;
    transition-delay:0s;

}
.song {
    opacity: 0.7;
    margin: 40px 0;
    cursor: pointer;
}
.song.active {
    opacity: 1;

}
.song-info {
    margin: 0;
    z-index: 1;
}
.name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
#playlist-container.hide .song.active .name {
    transition: 0s;
    transition-delay: 0s;
}
.song.active .name{
    font-size: 18px;
    transition: 0.5s;
}
.artist {
    font-size: 14px;
    font-weight: 200;
}
#current-song.hide {
    display: none;
}
/*==========playlist icon==========*/
#playlist_icon {
    width: 30px;
    height: 24px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

#playlist_icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#playlist_icon span:nth-child(1) {
    top: 0px;
}

#playlist_icon span:nth-child(2),#playlist_icon span:nth-child(3) {
    top: 9px;
}

#playlist_icon span:nth-child(4) {
    top: 18px;
}

#playlist_icon.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}

#playlist_icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#playlist_icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#playlist_icon.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}

/*===================play icon===================*/
.play-icon {
    --size: 15pt;
    width:var(--size);
    height:var(--size);
    overflow:hidden;
    display:flex;
    position:relative;
    clip-path:polygon(0% 0%, 100% 50%, 100% 50%, 0% 100%);
    user-select:none;
    appearance:none;
    cursor:pointer;
    will-change: clip-path;
    transform: translateZ(0);
}
.play-icon:active:before, play-icon:active:after{
    transition: none;
}
.play-icon:before, .play-icon:after {
    background-color:rgba(255,255,255,1);
    display:block;
    content:'';
    height:100%;
    width:50%;
}
.play-icon.pause:after {
    margin-left:22%;
}
.play-icon, .play-icon:after {
    transition:all 250ms ease;
}
.play-icon.pause {
    clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.play-icon:after {
    margin-left:0%;
}